@keyframes searching {
  0% {
    transform: translate(0);
  }
  5% {
    transform: translate(6px, -5px);
  }
  10% {
    transform: translate(-7px, 2px);
  }
  15% {
    transform: translate(4px, 7px);
  }
  20% {
    transform: translate(2px, -6px);
  }
  25% {
    transform: translate(-5px, 3px);
  }
  30% {
    transform: translate(7px, -4px);
  }
  35% {
    transform: translate(-2px, 6px);
  }
  40% {
    transform: translate(3px, -7px);
  }
  45% {
    transform: translate(1px, 5px);
  }
  50% {
    transform: translate(-6px, -2px);
  }
  55% {
    transform: translate(4px, -3px);
  }
  60% {
    transform: translate(5px, 1px);
  }
  65% {
    transform: translate(-1px, -4px);
  }
  70% {
    transform: translate(2px, 7px);
  }
  75% {
    transform: translate(-7px, -1px);
  }
  80% {
    transform: translate(6px, 4px);
  }
  85% {
    transform: translate(-4px, -6px);
  }
  90% {
    transform: translate(7px, 2px);
  }
  95% {
    transform: translate(-3px, -5px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
